@model IscConcursLr1.Statements

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалити</h1>

<h3>Ви впевнені?</h3>
<div>
    <h4>Statements</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StFacultiesSpecialties)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StFacultiesSpecialtiesNavigation.FacultiesSpecialtiesId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StStudentNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StStudentNavigation.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StatementId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
